
.q-header {
    background-color: #434e66;
    text-align:center;
    padding:1rem 1.5rem;
}


.q-col {
    width:100%;
    padding:0 1.5rem;
}


.q-timer{
    background-color: #7a8adb;
    padding:1rem 1.5rem;
}


.q-view {
    position:relative;
    width:100%;
    height:calc(100vh - 8rem);
    background-color: #fff;
    overflow:hidden;
}


.q-scroll-container{
    position:relative;
    width:100%;
    height:100%;
    overflow:auto;
}


.q-page {
    position:absolute;
    width:100%;
    height:100%;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    display: block;
}
.q-page--hide {
    opacity:0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: -999;
    display:none;
}
.q-page__content {
    margin-top:auto;
    margin-bottom:auto;
    padding:2rem 0;
}
.q-page--main .q-page__content {
    flex-direction: column;
    max-width:272px;
}
.q-page--main .sg-content-box__title{
    padding-bottom:2rem;
}
.q-page--vertical-center {
    display: flex;
    align-items: center;
}
.q-page--horizontal {
    justify-content: center;
}


.q-button-submit {
    margin-top:1rem;
}


.q-gray {
    background-color: #434e66;
}


.q-gray-mid-tone {
    background-color: #9fa6b5;
}


.q-lavender {
    background-color: #7a8adb;
}


.q-lavender-mid-tone {
    background-color: #b3c4ff;
}


.q-box {
    margin-top:1rem;
    margin-bottom: 1rem;
}

.q-summary__answer--proper {
    color:#7ed7ac;
}

.q-summary__answer--wrong {
    color:#ff796b;
}

@media screen and (min-width:576px) {
    .q-col{
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        max-width:none;
        width:calc(576px - 3rem);
    }
}

@media screen and (min-width:720px) {
    .q-col{
        width:calc(720px - 3rem);
    }
}


@media screen and (min-width:992px) {
    .q-page--horizontal {
        justify-content: left;
    }

    .q-col{
        width:calc(992px - 3rem);
    }
}


@media screen and (min-width:1200px) {
    .q-col{
        width:calc(1200px - 3rem);
    }
}